Checks: '*,
    -abseil-*,
    -altera-*,
    -android-*,
    -fuchsia-*,
    -google-*,
    -llvm*,
    -modernize-use-trailing-return-type,
    -zircon-*,
    -performance-no-int-to-ptr,
    -bugprone-assignment-in-if-condition,
    -readability-else-after-return,
    -readability-static-accessed-through-instance,
    -readability-avoid-const-params-in-decls,
    -readability-identifier-length,
    -readability-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -misc-non-private-member-variables-in-classes,
    -misc-include-cleaner,
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
